@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

// Import a Google font
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

$navy: #2F2FA2;


.has-bg-img { background: url('/static/images/background-home.jpg')center center; background-size:cover; }

.button {
    background-color: $navy;
    color: white;
}

.button:hover, :focus {
    background-color: white;
    color: $navy;
    outline: 0;
    border: 1px solid $navy;
}

.button:active {
    background-color: $navy;
    color: white;
    border: 1px solid $navy;
}

.input:focus {
    color: $navy;
    outline: 0;
    border: 1px solid $navy;
}

.input:active {
    outline: 0;
    border: 1px solid $navy;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: $navy;
}

.logo-img {
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.notification {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

